@font-face {
  font-family: 'echocityicon';
  src: url('https://cdn.jsdelivr.net/gh/HSFAkira/Echo-City-Icons@main/font/echocityicon.eot?97350838');
  src: url('https://cdn.jsdelivr.net/gh/HSFAkira/Echo-City-Icons@main/font/echocityicon.eot?97350838#iefix') format('embedded-opentype'),
       url('https://cdn.jsdelivr.net/gh/HSFAkira/Echo-City-Icons@main/font/echocityicon.woff2?97350838') format('woff2'),
       url('https://cdn.jsdelivr.net/gh/HSFAkira/Echo-City-Icons@main/font/echocityicon.woff?97350838') format('woff'),
       url('https://cdn.jsdelivr.net/gh/HSFAkira/Echo-City-Icons@main/font/echocityicon.ttf?97350838') format('truetype'),
       url('https://cdn.jsdelivr.net/gh/HSFAkira/Echo-City-Icons@main/font/echocityicon.svg?97350838#echocityicon') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'echocityicon';
    src: url('../font/echocityicon.svg?97350838#echocityicon') format('svg');
  }
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "echocityicon";
  font-style: normal;
  font-weight: normal;
  speak: never;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */


  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-echocity:before { content: '\e800'; } /* '' */
.icon-ryuulong:before { content: '\e801'; } /* '' */
